In [13]:
!pip install -U featuretools

Collecting featuretools
  Downloading featuretools-0.20.0-py3-none-any.whl (287 kB)
Requirement already satisfied, skipping upgrade: scipy>=0.13.3 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (1.5.0)
Requirement already satisfied, skipping upgrade: click>=7.0.0 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (7.1.2)
Requirement already satisfied, skipping upgrade: distributed>=2.12.0 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (2.20.0)
Requirement already satisfied, skipping upgrade: pyyaml>=3.12 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (5.3.1)
Requirement already satisfied, skipping upgrade: psutil>=5.4.8 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (5.7.0)
Requirement already satisfied, skipping upgrade: pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (1.0.5)
Requirement already satisfied, skipping upgrade: dask[dataframe]>=2.12.0 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (2.20.0)
Requirement already satisfied, skipping upgrade: cloudpickle>=0.4.0 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (1.5.0)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (1.18.5)
Requirement already satisfied, skipping upgrade: tqdm>=4.32.0 in c:\users\dell\anaconda3\lib\site-packages (from featuretools) (4.47.0)
Requirement already satisfied, skipping upgrade: setuptools in c:\users\dell\anaconda3\lib\site-packages (from distributed>=2.12.0->featuretools) (49.2.0.post20200714)
Requirement already satisfied, skipping upgrade: tornado>=6.0.3; python_version >= "3.8" in c:\users\dell\anaconda3\lib\site-packages (from distributed>=2.12.0->featuretools) (6.0.4)
Requirement already satisfied, skipping upgrade: tblib>=1.6.0 in c:\users\dell\anaconda3\lib\site-packages (from distributed>=2.12.0->featuretools) (1.6.0)
Requirement already satisfied, skipping upgrade: toolz>=0.8.2 in c:\users\dell\anaconda3\lib\site-packages (from distributed>=2.12.0->featuretools) (0.10.0)
Requirement already satisfied, skipping upgrade: msgpack>=0.6.0 in c:\users\dell\anaconda3\lib\site-packages (from distributed>=2.12.0->featuretools) (1.0.0)
Requirement already satisfied, skipping upgrade: sortedcontainers!=2.0.0,!=2.0.1 in c:\users\dell\anaconda3\lib\site-packages (from distributed>=2.12.0->featuretools) (2.2.2)
Requirement already satisfied, skipping upgrade: zict>=0.1.3 in c:\users\dell\anaconda3\lib\site-packages (from distributed>=2.12.0->featuretools) (2.0.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (2020.1)
Requirement already satisfied, skipping upgrade: fsspec>=0.6.0; extra == "dataframe" in c:\users\dell\anaconda3\lib\site-packages (from dask[dataframe]>=2.12.0->featuretools) (0.7.4)
Requirement already satisfied, skipping upgrade: partd>=0.3.10; extra == "dataframe" in c:\users\dell\anaconda3\lib\site-packages (from dask[dataframe]>=2.12.0->featuretools) (1.1.0)
Requirement already satisfied, skipping upgrade: heapdict in c:\users\dell\anaconda3\lib\site-packages (from zict>=0.1.3->distributed>=2.12.0->featuretools) (1.0.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (1.15.0)
Requirement already satisfied, skipping upgrade: locket in c:\users\dell\anaconda3\lib\site-packages (from partd>=0.3.10; extra == "dataframe"->dask[dataframe]>=2.12.0->featuretools) (0.2.0)
Installing collected packages: featuretools
Successfully installed featuretools-0.20.0

In [14]:
import pandas as pd
import numpy as np
import featuretools as ft

import warnings
warnings.filterwarnings('ignore')

from datetime import datetime
import random

rand_dates = []
 
for _ in range(200):
  
  year = random.choice(range(2010, 2021))
  month = random.choice(range(1, 13))
  day = random.choice(range(1, 29))
  rdate = datetime(year, month, day)
  rand_dates.append(rdate)

In [4]:
clients = pd.DataFrame(columns = ['client_id', 'joined', 'income', 'credit_score'])
for _ in range(40):
  clients = clients.append(pd.DataFrame({'client_id': np.random.randint(25000, 50000, size = 1)[0], 'joined': random.choice(rand_dates),
                           'income': np.random.randint(30500, 240000, size = 1)[0], 'credit_score': np.random.randint(500, 850, size = 1)[0]},
                                        index = [0]), ignore_index = True)

clients.head()

  client_id     joined  income credit_score
0     41813 2016-07-17   86522          504
1     48481 2011-08-18   41505          709
2     28309 2014-11-26  145550          648
3     46279 2018-03-20  151167          532
4     26617 2015-03-10  239990          538

In [6]:
loans = pd.DataFrame(columns = ['client_id', 'loan_type', 'loan_amount', 'repaid',
                                         'loan_id', 'loan_start', 'loan_end', 'rate'])

for client in clients['client_id'].unique():
  for _ in range(40):
    time_created = pd.datetime(np.random.randint(2010, 2021, size = 1)[0],
                               np.random.randint(1, 13, size = 1)[0],
                               np.random.randint(1, 29, size = 1)[0])

    time_ended = time_created + pd.Timedelta(days = np.random.randint(500, 1000, size = 1)[0])

    loans = loans.append(pd.DataFrame({'client_id': client, 'loan_type': random.choice(['cash', 'credit', 'home', 'other']),
                                                         'loan_amount': np.random.randint(500, 15000, size = 1)[0],
                                                         'repaid': random.choice([0, 1]), 
                                                         'loan_id': np.random.randint(10000, 12000, size = 1)[0],
                                                         'loan_start': time_created,
                                                         'loan_end': time_ended,
                                                          'rate': round(abs(4 * np.random.randn(1)[0]), 2)}, index = [0]), ignore_index = True)

<ipython-input-6-47465d5ea232>:6: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  time_created = pd.datetime(np.random.randint(2010, 2021, size = 1)[0],

In [8]:
loans.head()

  client_id loan_type loan_amount repaid loan_id loan_start   loan_end  rate
0     41813    credit       14985      0   10881 2014-02-23 2015-07-27  2.52
1     41813      cash       10259      1   11752 2010-06-20 2012-06-16  2.97
2     41813      cash       14620      0   11191 2016-03-12 2017-11-18  3.68
3     41813     other       10807      0   10279 2013-11-18 2015-04-08  0.64
4     41813     other       13314      1   10769 2011-01-05 2013-08-02  6.44

In [9]:
payments = pd.DataFrame(columns = ['loan_id', 'payment_amount', 
                                    'payment_date', 'missed'])

for _, row in loans.iterrows():
  time_created = row['loan_start']
  payment_date = time_created + pd.Timedelta(days = 30)
  loan_amount = row['loan_amount']
  loan_id = row['loan_id']
  payment_id = np.random.randint(10000, 12000, size = 1)[0]
  for _ in range(np.random.randint(5, 10, size = 1)[0]):
    payment_id += 1
    payment_date += pd.Timedelta(days = np.random.randint(10, 50, size = 1)[0])
    payments = payments.append(pd.DataFrame({'loan_id': loan_id, 
                                                               'payment_amount': np.random.randint(int(loan_amount / 10), int(loan_amount / 5), size = 1)[0],
                                                               'payment_date': payment_date, 'missed': random.choice([0, 1])}, index = [0]), ignore_index = True)

In [10]:
payments.head()

  loan_id payment_amount payment_date missed
0   10881           2987   2014-04-22      0
1   10881           2696   2014-05-28      1
2   10881           2924   2014-07-14      0
3   10881           2734   2014-08-05      0
4   10881           2534   2014-08-18      0

In [11]:
clients = clients.drop_duplicates(subset = 'client_id')
loans = loans.drop_duplicates(subset = 'loan_id')


clients.to_csv('clients.csv', index = False)
loans.to_csv('loans.csv', index = False)
payments.to_csv('payments.csv', index = False)

In [15]:
clients = pd.read_csv('C:/Users/DELL/Desktop/clients.csv', parse_dates = ['joined'])
loans = pd.read_csv('C:/Users/DELL/Desktop/loans.csv', parse_dates = ['loan_start', 'loan_end'])
payments = pd.read_csv('C:/Users/DELL/Desktop/payments.csv', parse_dates = ['payment_date'])

In [16]:
es = ft.EntitySet(id = 'clients')

In [17]:
es = es.entity_from_dataframe(entity_id = 'clients', dataframe = clients, 
                              index = 'client_id', time_index = 'joined')

In [18]:
es = es.entity_from_dataframe(entity_id = 'loans', dataframe = loans, 
                              variable_types = {'repaid': ft.variable_types.Categorical},
                              index = 'loan_id', 
                              time_index = 'loan_start')

In [19]:
es = es.entity_from_dataframe(entity_id = 'payments', 
                              dataframe = payments,
                              variable_types = {'missed': ft.variable_types.Categorical},
                              make_index = True,
                              index = 'payment_id',
                              time_index = 'payment_date')

In [20]:
print(es)

Entityset: clients
  Entities:
    clients [Rows: 40, Columns: 4]
    loans [Rows: 1119, Columns: 8]
    payments [Rows: 11141, Columns: 5]
  Relationships:
    No relationships

In [21]:
es['payments']

Entity: payments
  Variables:
    payment_id (dtype: index)
    loan_id (dtype: numeric)
    payment_amount (dtype: numeric)
    payment_date (dtype: datetime_time_index)
    missed (dtype: categorical)
  Shape:
    (Rows: 11141, Columns: 5)

In [22]:
r_client_previous = ft.Relationship(es['clients']['client_id'],
                                    es['loans']['client_id'])

es = es.add_relationship(r_client_previous)

In [23]:
r_payments = ft.Relationship(es['loans']['loan_id'],
                                      es['payments']['loan_id'])

es = es.add_relationship(r_payments)

es

Entityset: clients
  Entities:
    clients [Rows: 40, Columns: 4]
    loans [Rows: 1119, Columns: 8]
    payments [Rows: 11141, Columns: 5]
  Relationships:
    loans.client_id -> clients.client_id
    payments.loan_id -> loans.loan_id

In [24]:
primitives = ft.list_primitives()
pd.options.display.max_colwidth = 100
primitives[primitives['type'] == 'aggregation'].head(10)

,name,type,dask_compatible,koalas_compatible,description
0,skew,aggregation,False,False,Computes the extent to which a distribution differs from a normal distribution.
1,first,aggregation,False,False,Determines the first value in a list.
2,all,aggregation,True,False,Calculates if all values are 'True' in a list.
3,mode,aggregation,False,False,Determines the most commonly repeated value.
4,avg_time_between,aggregation,False,False,Computes the average number of seconds between consecutive events.
5,entropy,aggregation,False,False,Calculates the entropy for a categorical variable
6,any,aggregation,True,False,Determines if any value is 'True' in a list.
7,n_most_common,aggregation,False,False,Determines the `n` most common elements.
8,sum,aggregation,True,True,"Calculates the total addition, ignoring `NaN`."
9,time_since_first,aggregation,False,False,Calculates the time elapsed since the first datetime (in seconds).

In [25]:
primitives[primitives['type'] == 'transform'].head(10)

,name,type,dask_compatible,koalas_compatible,description
22,time_since_previous,transform,False,False,Compute the time since the previous entry in a list.
23,cum_max,transform,False,False,Calculates the cumulative maximum.
24,and,transform,True,True,Element-wise logical AND of two lists.
25,add_numeric_scalar,transform,True,True,Add a scalar to each value in the list.
26,add_numeric,transform,True,True,Element-wise addition of two lists.
27,not,transform,True,True,Negates a boolean value.
28,weekday,transform,True,True,Determines the day of the week from a datetime.
29,less_than_equal_to,transform,True,True,Determines if values in one list are less than or equal to another list.
30,divide_by_feature,transform,True,True,Divide a scalar by each value in the list.
31,haversine,transform,False,False,Calculates the approximate haversine distance between two LatLong

In [27]:
features, feature_names = ft.dfs(entityset=es, target_entity='clients', 
                                 max_depth = 2)

In [28]:
features

,income,credit_score,COUNT(loans),MAX(loans.loan_amount),MAX(loans.rate),MEAN(loans.loan_amount),MEAN(loans.rate),MIN(loans.loan_amount),MIN(loans.rate),MODE(loans.loan_type),...,MODE(payments.loans.repaid),NUM_UNIQUE(payments.loans.client_id),NUM_UNIQUE(payments.loans.loan_type),NUM_UNIQUE(payments.loans.repaid),SKEW(payments.loans.loan_amount),SKEW(payments.loans.rate),STD(payments.loans.loan_amount),STD(payments.loans.rate),SUM(payments.loans.loan_amount),SUM(payments.loans.rate)
client_id,,,,,,,,,,,,,,,,,,,,,
34974,63930,548,17,14460,5.41,7282.882353,2.158235,1120,0.37,credit,...,1,1,4,2,0.192020,0.945537,4625.168550,1.373119,1079619,282.22
41510,49744,716,19,13226,10.05,6427.526316,3.495789,1164,0.09,other,...,0,1,4,2,0.213491,0.840473,3383.564774,2.737305,1086447,568.36
45949,172388,534,31,14547,7.46,7126.000000,2.643548,815,0.01,home,...,1,1,4,2,0.269074,0.754471,3859.879437,1.951966,1941046,810.43
27112,216687,701,25,13386,11.12,6626.440000,4.154800,1047,0.54,cash,...,0,1,4,2,0.175121,0.708472,4353.573055,2.910543,1282122,756.96
44583,234816,514,22,13549,7.07,6049.545455,2.890000,834,0.25,credit,...,1,1,4,2,0.428204,0.389470,3709.748770,1.688805,916707,439.88
48481,41505,709,37,14676,9.96,7726.972973,3.483243,553,0.15,cash,...,0,1,4,2,-0.148486,0.862642,4389.568443,2.260566,3398725,1477.22
42415,63454,717,19,14717,8.70,7805.631579,2.963158,1268,0.28,credit,...,1,1,4,2,0.118909,1.074020,4635.821559,2.464060,1021969,375.74
32898,37124,751,32,13804,6.34,7176.218750,2.661250,681,0.19,cash,...,1,1,4,2,0.317647,0.589542,4026.946312,1.627403,2097399,876.71
27411,99179,603,24,14829,9.20,7211.208333,2.408333,873,0.08,other,...,1,1,4,2,0.017581,2.078315,4779.155585,1.627789,1439264,408.37
27653,148849,610,32,14125,10.64,6965.750000,3.415312,625,0.03,other,...,1,1,4,2,-0.008418,0.687682,4267.327258,2.582033,1869705,999.83
41621,169888,664,20,13568,10.31,7659.050000,3.073000,1771,0.19,cash,...,0,1,4,2,0.022762,1.551900,3705.902618,2.399842,926485,383.12
28309,145550,648,37,14165,10.82,8326.081081,3.313243,936,0.10,other,...,0,1,4,2,-0.276984,0.498425,3758.517470,2.513461,3659793,1406.71
47816,144249,733,31,14271,12.85,7557.225806,3.444839,1063,0.25,other,...,0,1,4,2,-0.246520,1.617541,3815.961943,3.163177,2733113,1339.02
38907,57016,731,20,14876,9.08,7913.450000,3.311500,1546,0.33,credit,...,0,1,4,2,0.181355,0.704621,4446.616349,2.463834,993767,449.26
26617,239990,538,35,14991,8.10,9030.485714,2.754000,1091,0.07,home,...,0,1,4,2,-0.131955,0.639354,3898.482960,1.870406,3282320,1007.72
30716,89955,675,29,14336,11.93,7398.413793,3.443448,829,0.08,cash,...,1,1,4,2,-0.374911,1.276511,4303.483774,2.611287,2470755,931.42
25874,107980,773,27,14006,11.40,7673.666667,3.573704,901,0.01,home,...,1,1,4,2,0.108654,0.477059,3650.817175,3.245328,2149191,1149.51
34590,67965,844,35,14778,9.01,7326.114286,2.928286,1365,0.06,cash,...,0,1,4,2,0.475560,0.986988,3738.037505,2.345457,2716393,1053.11
27871,53623,712,30,14654,11.63,7437.366667,3.527333,607,0.09,credit,...,1,1,4,2,0.172420,1.226593,4312.051949,2.434345,1843117,837.10
39999,76731,829,37,14092,7.58,6301.459459,3.361622,535,0.03,other,...,0,1,4,2,0.381771,-0.046591,4014.895212,2.134255,2437586,1421.01
35783,205442,544,23,14607,7.33,6242.869565,3.121304,773,0.30,cash,...,0,1,4,2,0.315927,0.404926,3946.934832,1.823077,963292,420.07
29105,234738,811,34,14915,10.38,8352.000000,3.520000,521,0.10,other,...,1,1,4,2,-0.194530,1.122747,4874.331163,2.243721,2663999,943.22
39539,76215,522,26,13025,8.25,7824.423077,3.456923,1158,0.74,other,...,0,1,4,2,-0.300646,0.872263,3799.254180,1.996781,1848587,783.90
30135,138571,632,27,14708,9.95,8343.814815,3.524815,790,0.06,credit,...,1,1,4,2,0.057693,0.722144,4152.037167,2.836625,2224274,920.65
26909,37809,542,23,14262,8.84,7540.956522,2.863478,574,0.15,other,...,1,1,4,2,0.057110,0.618300,4342.089840,1.893297,1696996,668.31
41813,86522,504,39,14985,6.93,7960.000000,2.506154,546,0.18,other,...,1,1,4,2,-0.280162,0.534807,4409.675013,1.990397,4801547,1467.10
46154,163199,695,32,14497,10.67,7478.343750,3.779688,644,0.04,cash,...,1,1,4,2,-0.058769,0.819889,4215.285964,2.278768,2372304,1092.56
31348,211148,642,20,14951,9.23,8917.650000,3.235500,932,0.02,home,...,0,1,4,2,-0.158366,0.589390,5340.958031,2.902577,1447364,599.53
41223,52718,588,16,14922,5.17,7069.937500,2.426875,637,0.17,home,...,0,1,4,2,-0.191003,0.278674,4155.231823,1.372454,983865,324.49
46279,151167,532,36,14572,8.74,6831.805556,3.159444,838,0.87,other,...,1,1,4,2,0.170358,1.261853,3544.679014,1.885132,2773651,1152.25
30774,217740,816,34,14654,10.05,7355.764706,2.597353,1288,0.08,credit,...,0,1,4,2,0.549377,1.720348,3431.285850,2.184386,3015437,996.14
25255,230152,792,13,14973,9.79,9128.769231,4.278462,2080,0.15,cash,...,0,1,4,2,-0.039433,0.665538,4879.498256,2.765279,762413,367.03
27419,99207,644,32,14894,9.22,7200.250000,3.205938,828,0.03,credit,...,0,1,4,2,0.314478,0.323965,4077.661451,2.037310,2557235,1137.46
39020,144876,740,20,14600,10.55,8613.850000,4.690000,646,0.03,cash,...,1,1,4,2,-0.520404,0.522625,3380.170822,3.012678,1293224,679.94
36555,237000,601,29,14801,7.37,6446.206897,3.309310,672,0.28,credit,...,0,1,4,2,0.952254,0.434093,3918.396501,1.946736,1811805,947.69
28899,155909,672,28,14459,9.68,8043.178571,3.387500,977,0.24,credit,...,0,1,4,2,-0.140709,1.151618,3503.545574,2.360175,2092680,819.05
28367,32929,721,34,14783,7.89,8527.382353,3.584118,696,0.22,other,...,1,1,4,2,-0.205560,0.263997,4297.332125,2.048307,3266222,1387.10
40189,194083,517,24,14671,8.62,7539.791667,2.462500,894,0.06,credit,...,0,1,4,2,0.264959,1.490521,4197.027341,2.354918,1086587,390.42
25152,205794,608,25,14341,7.36,8274.640000,3.084400,571,0.04,other,...,0,1,4,2,-0.450026,0.799834,4122.177498,2.075600,1708357,606.51

In [30]:
features.shape

(39, 110)